body {
      font-family: Arial, sans-serif;
      padding: 0;
      margin: 0 auto;
      width: 50%;
      background-color: #1D2531;
      color: #C8D5E9;
}

#heading {
      margin: 20px 0px 20px 0px;
      text-align: center;
      font-size: 50px;
}

.navbar {
        width: 97.5%;
        margin: 0 auto;
}

.navbar li {
      list-style-type: none;
      display: inline;
}

.navbar li a {
      text-decoration: none;
      padding: 10px;
      font-size: 20px;
      color: #C8D5E9;
      font-weight: normal;
}

.navbar li a:hover {
      background-color: #005043;
      color: #C3E8E2;
}

.navbar li a.wip:hover {
      background-color: #170A58;
      color: #D0CBEB;
}

hr {
        margin: 15px auto 20px;
}

h2 {
      margin: 20px 0px 10px;
}

h3 {
      margin: 20px;
}

p {
      margin: 10px;
}

a {
      font-weight: bold;
      color: #C8D5E9;
}

a:hover {
      color: #029179;
}

.notification {
      border: 2px dotted crimson;
      padding: 3px;
      margin: 10px;
      background-color: red;
}

.date {
      font-size: 13px;
      margin: 15px 0px;
      color: lightGray;
}
